body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
}
h1 {
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

a {
    padding-right: 15px;
}

.hero {
    height: 500px;
    width: 100%;
    background-image: url("../images/shoreline.jpg");
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px 40px 20px 0px;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.aboutMe {
    display: flex;
    flex-direction: row;

}

h3 {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    width: 20%;
    /* margin-right: 60px; */
}

p {
    width: 70%;
    margin-left: 10%;
}

.work {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 1200px;
    margin: 20px 0px;
}

.workMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 70%;
    margin-left: 10%;
    /* box-sizing: border-box; */
    /* border: 2px solid black; */
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1 1 auto;
    height: 33.33%;
    object-fit: cover;
}


div > * {
    width: 50%;
}

.first a {
    width: 100%;
}



img {
    display: flex;
    object-fit: cover;
    height: 100%;
    width: 100%;  
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactMain {
    display: flex;
    justify-content: space-between;
}

footer {
    margin-top: 40px;
    text-align: center;
}